﻿:root {
    --ping: #d82f8b;

}

html {
    line-height: 1.5;   
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.div_container {
    max-width: 600px;
    height: 10vh;
    background-color: aliceblue;
}
.text_colorMomo {
    color: var(--ping);
}