﻿@media screen and (min-width: 1000px) {
    body {
        max-width: 100% !important;
    }

    .home-section, .deals-section, .navbar, .w_120, .footer, footer, .header, header {
        margin: auto !important;
        width: 120em !important;
    }

    .text_pc {
        text-align: center !important;
       
    }

    .pc_banner {
        height: 49em;
        object-fit: cover;
    }

    .imgobj {
        object-fit: cover;
    }

    .form-section {
        margin: auto !important;
        width: 120em !important;
    }

    .otp_container, .otp_container_2 {
        width: 100%;
    }

    .deals_section_p {
        display: inline-block !important;
    }

    ul {
        list-style: none !important;
        list-style-type: none !important;
    }

    li {
        list-style: none !important;
        list-style-type: none !important;
        text-align: center !important;
        justify-content: center;
        justify-items: center;
    }

    .slider-box img {
        margin: auto;
    }

    .bottom-panel {
        display: none !important;
    }

    .dnone, header {
        display: none !important;
    }
    .nav_none{
        display:block;
    }
    .nav-item {
        padding: 14px 12px;
    }

        .nav-item:hover > a > div > h4 {
            color: red;
        }

    h4 {
        font-size: 17px;
        font-weight: bold;
    }

    .w_110{
        
    }
    .over_hiden{
        overflow: hidden;
        
    }

    .CardBank_description__kRKaj ul li::before {
        content: "" !important;
        background: none !important;        
    }
    .card > .text_pc {
        overflow: hidden;
        width: 109em !important;
        margin: auto;
    }

    .whyChoose__item__title{
        width: auto;
        text-align:center;
    }
    .text_center_pc{
        text-align:center !important
    }
}
