header {
    display: -webkit-box;
    display: -ms-flexbox;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    left: 0;
    top: -1px;
    width: 100%;
    background: linear-gradient(90deg,#2e0203,#9e1e1f);
    z-index: 3;
}

    header .back-links a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        header .back-links a i {
            color: hsl(0deg 0% 100%);
            font-size: 20px;
            margin-right: 10px;
        }

[dir="rtl"] header .back-links a i {
    margin-right: 0;
    margin-left: 10px;
}

header .back-links a .content h2 {
    color: hsl(0deg 0% 100%);
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .back-links a .content h6 {
    color: #777777;
}

header .back-links a .content span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
    margin-top: 3px;
}

    header .back-links a .content span i {
        font-size: 14px;
        color: #777777;
        margin-right: 3px;
    }

header .nav-bar {
    margin-right: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

[dir="rtl"] header .nav-bar {
    margin-right: 0;
    margin-left: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
}

header .nav-bar svg {
    stroke: #222222;
}

header .nav-bar img {
    width: 20px;
}

[class="dark"] header .nav-bar img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

header .brand-logo img {
    width: 125px;
}

header .header-option {
    margin-left: auto;
}

[dir="rtl"] header .header-option {
    margin-right: auto;
    margin-left: 0;
}

header .header-option ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    header .header-option ul li {
        line-height: 1;
    }

        header .header-option ul li a {
            display: block;
        }

        header .header-option ul li i {
            font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
            color: hsl(0deg 0% 100%);
        }

        header .header-option ul li + li {
            margin-left: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
        }

[dir="rtl"] header .header-option ul li + li {
    margin-right: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-left: 0;
}

header.darkHeader {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

    header.darkHeader.bg-transparent {
        background-color: #ffffff !important;
    }
.navbar__bottom {
    background: #194796;
    margin-top: 47px;
}

    .navbar__bottom .container {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
    }

        .navbar__bottom .container .col-right, .navbar__bottom .container .col-left {
            display: flex;
        }

            .navbar__bottom .container .col-right a, .navbar__bottom .container .col-left a {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                padding: 7px 12px;
                cursor: pointer;
                color: #FFFFFF;
            }

.hottline {
    padding: 7px 0px;
}

    .hottline p {
        color: #FFF;
        margin-top: 2px;
        margin-bottom: 0rem;
    }

    .hottline span {
        color: #FFF;
    }

.header-sidebar .user-panel .user-img {
    width: 45px;
    height: auto;
    border-radius: 0px;
    -o-object-fit: cover;
    /* object-fit: cover; */
    margin-right: 16px;
}

.slider-box img {
    display: block !important;
}

.home-section {
    margin-top: 49px !important;
}

.dropdown-box__link {
    color: #00b74f;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.btn-link {
    font-weight: 500;
    color: #00b74f;
    font-size: 15px;
    text-decoration: none;
}

.rates, .exchange {
    width: 100%;
    text-align: left;
    font-weight: 600;
}

    .rates td:first-child {
        text-align: initial;
        color: #00b74f;
    }

    .rates td, .exchange td {
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 14px;
        vertical-align: top;
        font-weight: normal;
        text-align: center;
    }

    .exchange th, .gold th, .rates th {
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 20px;
        color: #000;
    }

.theme-tab .nav-link.active {
    background-color: #00b74f;
    color: #ffffff;
}

.homeCheck .story-tips-header {
    background: #f4f7f8;
    padding: 24px;
    border-bottom: 1px solid #dde6e8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.homeCheck .component-title {
    background: linear-gradient(90deg,#000000,#ff0000);
    background: -webkit-linear-gradient(0,#000000,#ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 19px;
    display: inline-block;
    margin: 0;
}

.homeCheck .story-tips-header .btn-link {
    line-height: 21px;
}

.talk-to-us {
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 12px rgba(28,28,30,.06);
}

.talk-to-us__content {
    margin-left: -15px;
    margin-right: -15px;
}

.talk-to-us__content__item {
    text-align: center;
    padding: 27px 22px;
    color: #00b74f;
    font-size: 2rem;
    font-weight: 600;
    display: block;
}

    .talk-to-us__content__item span.icon {
        display: inline-block;
        margin-right: 20px;
    }

.talk-to-us__content__item--gradient {
    background: linear-gradient(90deg,#000000,#ff0000);
    color: #fff;
}

.talk-to-us:before {
    content: "";
    background: linear-gradient(90deg,#000000,#ff0000);
    display: block;
    height: 2px;
    width: 100%;
}

.CardBank_description__kRKaj {
    line-height: 24px;
    color: rgb(97, 97, 97);
    margin-top: 16px;
}

    .CardBank_description__kRKaj ul {
        margin: 0px;
        padding: 0px;
    }

        .CardBank_description__kRKaj ul li {
            color: rgb(97, 97, 97);
            margin-top: 6px;
            padding-left: 21px;
            position: relative;
            width: 100%;
            text-align: left;
        }

            .CardBank_description__kRKaj ul li::before {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                background-color: rgb(197, 197, 197);
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                border-radius: 1px;
            }

.checkThe .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: #f6f6f6;
    margin-top: 20px;
}

.download-mobile-button {
    width: 100%;
    max-width: 328px;
    margin-top: 16px;
    display: block;
}

    .download-mobile-button a {
        background-color: #000;
        color: #fff;
        padding: 12px 16px;
        position: relative;
        display: inline-flex;
        border-radius: 8px;
        outline: none;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;
        transition: all 0.3s ease-in;
        align-items: center;
        grid-gap: 12px;
        gap: 12px;
        min-width: max-content;
        width: 100%;
        z-index: 1;
        justify-content: space-between;
    }

.deals-section .title-part h2 {
    font-weight: 700;
    color: #2a2627;
    margin-bottom: 0;
    background-image: none;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg,#000000,#ff0000);
    background: linear-gradient(90deg,#000000,#ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyChoose__item__title {
    display: block;
    font-weight: 700;
    color: #19329c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsslider {
    margin-top: 10px !important;
}

.chose_arrow_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -60px;
    text-align: center;
}

.deals-section .title-part h2 {
    font-weight: 700;
    color: #2a2627;
    margin-bottom: 0;
    background-image: none;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg,#000000,#ff0000);
    background: linear-gradient(90deg,#000000,#ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyChoose__item__title {
    display: block;
    font-weight: 700;
    color: #19329c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsslider {
    margin-top: 10px !important;
}

.chose_arrow_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -60px;
    text-align: center;
}

.deals-section .title-part h2 {
    font-weight: 700;
    color: #2a2627;
    margin-bottom: 0;
    background-image: none;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg,#015aad,#00b74f);
    background: -webkit-linear-gradient(0,#015aad,#00b74f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyChoose__item__title {
    display: block;
    font-weight: 700;
    color: #19329c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsslider {
    margin-top: 10px !important;
}

.chose_arrow_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -60px;
    text-align: center;
}

.deals-section .title-part h2 {
    font-weight: 700;
    color: #2a2627;
    margin-bottom: 0;
    background-image: none;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg,#000000,#ff0000);
    background: linear-gradient(90deg,#000000,#ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyChoose__item__title {
    display: block;
    font-weight: 700;
    color: #19329c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsslider {
    margin-top: 10px !important;
}

.chose_arrow_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -60px;
    text-align: center;
}

.customers__item h3 {
    font-size: 1.125rem;
    color: #495057;
    /* margin: 0 0 0.9375rem; */
    line-height: 1.1;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    margin-top: 24px;
}

    .customers__item h3 strong {
        color: #19329c;
        font-weight: 700;
        margin-right: 10px;
    }

    .customers__item h3 small {
        font-size: 1em;
        color: #495057;
    }

.customers__item h4 {
    font-size: 1rem;
    color: inherit;
    line-height: 1.2857142857;
    margin: 0 0 0.8571428571em;
    color: #282828;
    text-transform: uppercase;
}

.customers__item p {
    line-height: 1.2857142857;
    font-size: 14px;
}

.customers {
    position: relative;
    background: #fff;
    border-top: 3px solid #19329c;
}

    .customers:before {
        content: " ";
        display: block;
        position: absolute;
        height: 3px;
        top: -3px;
        right: 0;
        width: 210px;
        max-width: 33.8709677419%;
        background: #ff7900;
        background-image: -webkit-gradient(linear, left top, right top, from(#ff7900), to(#ff1919));
        background-image: linear-gradient(to right, #ff7900 0, #ff1919 100%);
        background-repeat: repeat-x;
    }

.deals-section .title-part h2 {
    font-weight: 700;
    color: #2a2627;
    margin-bottom: 0;
    background-image: none;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg,#000000,#ff0000);
    background: linear-gradient(90deg,#000000,#ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whyChoose__item__title {
    display: block;
    font-weight: 700;
    color: #19329c;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.newsslider {
    margin-top: 10px !important;
}

.chose_arrow_img {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -60px;
    text-align: center;
}

.footer {
    background: #f4f7f8;
    font-size: 1.4rem;
    padding: 0;
}

.footer__link {
    padding-bottom: 30px;
}

.footer__link__item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dde6e8;
}

    .footer__link__item:first-child {
        border-top: 1px solid #dde6e8;
    }

.footer__link--title {
    position: relative;
    margin-bottom: 0;
    pointer-events: auto;
    font-size: 16px;
    font-weight: 700;
}

    .footer__link--title a i {
        transform: rotate(90deg);
        transition: .2s;
        display: block;
        position: absolute;
        right: 0;
        top: 4px;
        color: #545758;
    }

footer__link--title a.collapsed i {
    transform: rotate(0);
    transition: .2s;
}

.footer__content {
    border-top: none;
    padding: 20px 0 38px;
}

.footer__content__left__info {
    position: relative;
    padding: 0 15px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-top: 15px !important;
}

.footer__copyright {
    background: linear-gradient(90deg,#890000,#1c1d1c);
    padding: 15px 0;
    font-size: 1.6rem;
}

.footer__copyright__left {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.footer p {
    margin-bottom: 6px;
}

.font-family-bold {
    font-weight: bold;
    color: #000000;
    margin: 10px 0px;
}

.list-unstyled li {
    width: 100%;
    margin-left: 0px;
}

    .list-unstyled li a {
        color: #000000;
        margin-bottom: 5px;
    }

footer {
    padding-top: 15px;
    background: #f3f3f3;
    padding: 20px ​0px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.footer div {
    margin-top: 0px;
}

.bottom-panel ul li a.active i.icli {
    display: block;
    color: #194796 !important;
}

.bottom-panel ul li a.active span {
    color: #194796 !important;
}
header {
    background-color: #ffffff;
}

.btn-solid {
    background-color: #194796;
    color: #ffffff;
    font-weight: 400;
}

.icli {
    color: #194796 !important;
}

.bottom-panel {
    background-color: #ffffff;
    z-index: 9999999999;
}

   .action_footer {
        position: fixed;
        bottom: 5px;
        width: auto;
        left: 15px;
        z-index: 9999999;
    }

    .action_footer {
        bottom: 10px;
    }

    .action_footer {
        padding-right: 10px;
    }

        .action_footer a {
            float: right;
            background: hsl(0deg 100% 50%);
            padding: 5px 10px;
            border-radius: 3px;
            margin-bottom: 10px;
            color: hsl(0deg 0% 20%);
        }

    .float-icon-hotline {
        display: block;
        width: 40px;
        position: fixed;
        bottom: 54px;
        left: 17px;
        z-index: 999999;
    }

        .float-icon-hotline ul {
            display: block;
            width: 100%;
            padding-left: 0;
            margin-bottom: 0;
        }

            .float-icon-hotline ul li {
                display: block;
                width: 100%;
                position: relative;
                margin-bottom: 10px;
                cursor: pointer;
            }

                .float-icon-hotline ul li .fa {
                    background-color: hsl(358deg 85% 52%);
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 36px;
                    -moz-box-shadow: 0 0 5px #888888;
                    -webkit-box-shadow: 0 0 5px #888888;
                    box-shadow: 0 0 5px #888888;
                    color: hsl(0deg 0% 100%);
                    font-weight: 700;
                    border-radius: 50%;
                    position: relative;
                    z-index: 2;
                    border: 2px solid hsl(0deg 0% 100%);
                }

                .float-icon-hotline ul li .fa-envelope {
                    background: hsl(208deg 82% 39%);
                    background-size: auto;
                    background-size: 100%;
                }

    .animated.infinite {
        animation-iteration-count: infinite;
    }

    .float-icon-hotline ul li span {
        display: inline-block;
        padding: 0;
        color: #fff;
        border: 2px solid hsl(0deg 0% 100%);
        border-radius: 20px;
        height: 40px;
        line-height: 36px;
        position: absolute;
        top: 0;
        left: 18px;
        z-index: 0;
        width: 0;
        overflow: hidden;
        -webkit-transition: all 1s;
        transition: all 1s;
        background-color: hsl(0deg 100% 50%);
        -moz-box-shadow: 0 0 5px #888888;
        -webkit-box-shadow: 0 0 5px #888888;
        box-shadow: 0 0 5px #888888;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
    }

    .float-icon-hotline ul li:hover span {
        width: 180px;
        padding-left: 30px;
        padding-right: 10px;
        opacity: 1;
    }

    .float-icon-hotline ul li .fa-zalo {
        background: hsl(0deg 0% 100%) url('images/zalo.png') center center no-repeat;
        background-size: 100%;
    }

    .float-icon-hotline ul li .fa-fb {
        background: hsl(0deg 0% 100%) url('images/messenger.png') center center no-repeat;
        background-size: 100%;
    }


    .fone {
        font-size: 22px;
        color: hsl(0deg 100% 50%);
        line-height: 40px;
        font-weight: bold;
        padding-left: 45px;
        margin: 0 0;
    }

    .fone {
        color: hsl(0, 0%, 100%);
    }

    .fix_tel {
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        bottom: 26%;
        left: -8px;
    }
.an_container {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index:10000;
}

.div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
    animation: loading 2.5s ease-in-out infinite;
}

@keyframes loading {
    0%, 100% {
        transform: scale(0.2);
        background-color: #0ddcf8;
    }

    42% {
        background-color: #5d4da6;
    }

    50% {
        transform: scale(1);
        background-color: #42b58fb8;
    }
}

div:nth-child(0) {
    animation-delay: 0s;
}

div:nth-child(1) {
    animation-delay: 0.2s;
}

div:nth-child(2) {
    animation-delay: 0.4s;
}

div:nth-child(3) {
    animation-delay: 0.6s;
}

div:nth-child(4) {
    animation-delay: 0.8s;
}

div:nth-child(5) {
    animation-delay: 1s;
}

otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
}

    .otp-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .otp-field input::-webkit-inner-spin-button,
    .otp-field input::-webkit-outer-spin-button {
        display: none;
    }

.resend {
    font-size: 12px;
}

.otp_container{
    height: 100vh;
    width: 600px;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed;
    top: 0;
}

.otp_container_2 {
    height: 100vh;
    width: 600px;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: fixed;
    top: 0;
}

@media (max-width: 599px) {
    .otp_container {
        width: 100%;
    }
    .otp_container_2 {
        width: 100%;
    }
}

.nav_none{
    display:none;
}
.otp_none{
    display:none;
}